/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

.page-footer-fixed {
 background-color: #FFF;
 .page-footer {
 		position: absolute;
	 	/*height: 100px;*/
	 	height: 50px;
	 	padding: 10px 20px;
	  background-color: rgb(255, 255, 255);
	  /*color: #28303b;*/
	  z-index: 999;
	  @media (max-width: 991px) {
	  	position: absolute;
	  	/*position: fixed;*/
	  	bottom: 0;
	  	width: 100%;
	  	text-align: right;
	  }
	  @media (max-width: 767px) {
	  	height: auto;
	  }
	  .page-footer-inner {
			font-size: 18px;
			@media (max-width: 991px) { width: 100%; }
			@media (max-width: 640px) {
				font-size: 14px;
			}
		 	span {
		    color: #214B64;
        @media (max-width: 767px) {
        }
		    @media (max-width: 480px) {
		    	width: 100%;
		    }
        &:last-chid { margin-left: 0; }
		    * {
		    	@media(max-width: 991px) {
		    		line-height: 20px;
		    	}
		    }
		  }
		}
  }
}

/**
 * New theme design
 */
.page-footer-fixed {
	.page-footer {
		padding: 0 25px;
		@media (max-width: 1200px) {
			padding-right: 15px;
		}
		@media(max-width: 992px) {
			/*height: 95px;*/
			padding: 0 20px 0 15px;
		}
		.page-footer-inner {
			display: inline-block;
			width: 100%;
			.footer-left {
				float: left;
				width: 100%;
				max-width: 300px;
				padding: 10px 0;
				text-align: left;
				@media (max-width: 1200px) { max-width: 245px; }
				@media (max-width: 992px) { max-width: 180px; }
				@media (max-width: 767px) { max-width: 100%; }
				.footer-social-icon {
					a {
						display: inline-block;
						margin-right: 35px;
						img {
							height: 30px;
							width: 30px;
						}
						&:last-child {
							margin-right: 0;
						}
						@media (max-width: 1200px) {
							margin-right: 20px;
						}
						@media (max-width: 992px) {
							margin-right: 12px;
						}
					}
				}
			}
			.footer-right {
				float: right;
				@include calc('width' , '100% - 300px');
				@media (max-width: 1200px) { @include calc('width' , '100% - 245px'); }
				@media (max-width: 992px) { @include calc('width' , '100% - 180px'); }
				@media (max-width: 767px) { width: 100%; }
				ul {
					display: inline-block;
					width: 100%;
					margin-bottom: 0;
					padding-left: 0;
					text-align: right;
					list-style-type: none;
					li {
						display: inline-block;
						margin-right: 90px;
						padding: 15px 0;
						color: $blue;
						font-size: 16px;
						&:last-child {
							margin-right: 0;
						}
					}
					@media (max-width: 1400px) {
						li {
							margin-right: 20px;
							font-size: 16px;
						}
					}
					@media (max-width: 1300px) {
						li {
							font-size: 14px;
						}
					}
					@media (max-width: 992px) {
						/*text-align: left;*/
						li {
							margin-right: 10px;
							font-size: 13px;
						}
					}
					@media (max-width: 767px) {
						text-align: left;
					}
					@media (max-width: 640px) {
						li {
							padding: 5px 0;
						}
					}
				}
			}
		}
	}
}
.need-help-wrap {
	float: right;
	margin: 30px;
}
