<div class="signup-page">
 <div class="container container-top" >
  <div class="wh-form-wrap padding-20 setting-page user-dashboard-icon">
    <div class="wh-tab-content acc-safety">
      <div class="icon" style="cursor:pointer;" ng-click="$ctrl.redirect()">
        <img src="images/close-o.png" class="icon-close"/>
      </div>
      <div class="container-585">
        <fieldset class="reg-why-basic-wallet">
          <h2 class="page-blue-title ng-binding">{{ 'YOUR_SETTING' | translate }}</h2>
        </fieldset>

        <fieldset class="form-group">
          <label>{{ 'SELECT_LANGUAGE' | translate }}</label>
          <div class="collapse-dropdown language-dropdown">
            <label class="collapse-title" type="text" style="cursor:pointer;" ng-click="$ctrl.isLanguageSelector()" ng-bind="$ctrl.selectOption.name"></label>
            <div class="collapse-content" ng-show="$ctrl.isLanguageSelectorDisplayed">
              <ul class ="language-selector">
                <li style="cursor:pointer;" ng-repeat="lang in $ctrl.languages" ng-click="$ctrl.changeLanguage(lang); $ctrl.isLanguageSelector()"> {{ lang.name }}</li>
              </ul>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label>{{ 'CHANGE_BACK_COLOR' | translate }}</label>
          <div class="collapse-dropdown color-dropdown">
            <label class="collapse-title" type="text" style="cursor:pointer;" ng-click="$ctrl.isColorSelector()">{{ $ctrl.selectedColor.key | translate}}</label>
            <div class="collapse-content" ng-show="$ctrl.isColorSelectorDisplayed">
              <ul class ="color-selector"><li style="cursor:pointer;" class="{{color.type}}" ng-repeat="color in $ctrl.themeColor" ng-click="$ctrl.changeColor(color)">{{ color.key | translate }}</li></ul>
            </div>
          </div>
        </fieldset>

      </div>
    </div>
  </div>
 </div>
</div>
